body {
    background: #222;
}
#map .loading {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 300px);
    height: 120px;
    width: 600px;
    font-size: 70px;
    color: #EEE;
    text-transform: uppercase;
    font-family: Lato;
}
#map .loading .small {
    font-size: 20.6px;
}
#map .maintitle {
    font-family: Lato;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #EEE;
    display: none;
    font-size: 32px;
    padding-top: 13px;
    text-transform: uppercase;
}
#map .maintitle .small {
    padding-left: 6px;
    font-size: 12px;
}
#map #mapsvg {
    opacity: 0.0;
    position: fixed;
    z-index: 1;
}
#map .counties {
    fill: none;
}
#map .states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
#map .state {
    cursor: pointer;
}
#map .stateName {
    font-size: 14px;
    height: 18px;
    position: fixed;
    display: none;
    text-transform: uppercase;
    font-family: Lato;
    padding: 2px 4px;
    background: #222;
    color: #EEE;
    transform: translate(-50%, -50%);
    font-weight: bold;
    z-index: 2;
    opacity: 0.0;
}
#map .noselect {
    pointer-events: none;
}
#map .wallpaper {
    width: 100%;
    height: calc(100% - 60px - 60px);
    position: fixed;
    top: 60px;
    left: 0;
}
#map .personBox {
    font-family: Lato;
    text-align: center;
    position: absolute;
    color: #111;
}
#map .colorDeath {
    color: #BE4141;
}
#map .colorPop {
    color: #3399CC;
}
#map #legend {
    width: 36px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background: #222;
    border-left: 1px solid #BBBBBB;
    opacity: 0.0;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    transition-duration: 300ms;
}
#map #legend:hover {
    width: 260px;
}
#map #legend .title {
    display: none;
    height: 19px;
    font-size: 14px;
    padding: 4px;
    margin-top: 4px;
    color: #222;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    background: #BBBBBB;
    text-align: left;
}
#map #legend .nomargintop {
    margin-top: 0;
    border-top: none;
}
#map #legend:hover .title {
    display: block;
}
#map #legend .small {
    color: #BBBBBB;
    font-size: 12px;
    line-height: 26px;
    vertical-align: middle;
    padding-right: 6px;
    display: none;
    overflow: hidden;
    white-space: nowrap;
}
#map #legend:hover .small {
    display: inline-block;
}
#map #legend .text {
    text-transform: uppercase;
    font-family: Lato;
}
#map #legend .color {
    width: 26px;
    height: 26px;
    border: 1px solid #FFF;
    border-radius: 2px;
    margin: 4px 4px 0 4px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 2px #222;
}
#map #legend .radio {
    cursor: pointer;
}
#map #legend .radio .check {
    margin: 4px;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    background: #EEE;
    display: none;
}
#map #legend table {
    border-spacing: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}
#map #legend table td {
    padding: 0;
    margin: 0;
}
#titleBanner {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
    color: #EEE;
    padding: 4px 6px;
}
#timeline-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #333 url("../img/timeline.png");
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 5% 1px;
    border-top: 1px solid #EEE;
    z-index: 5;
}
#timeline {
    position: fixed;
    cursor: pointer;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 7;
}
#timeline .timeline-content {
    background: url("../img/timeline-cur.png");
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: 2px 2px;
    height: 60px;
    padding: 12px;
}
#timeline .timeline-content #date-timeline {
    text-shadow: 0 0 6px #000;
    font-family: Lato;
    position: absolute;
    font-size: 16px;
    top: calc(60px/2 - 16px/2);
    left: 8px;
    letter-spacing: 1px;
    color: #3492db;
}
#timeline .timeline-content a {
    color: #EEE;
    cursor: pointer;
}
#timeBack {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 6;
}
