body {
    background: #222;
}
.loading {
    margin-top: 25%;
    font-size: 70px;
    color: #EEE;
    text-transform: uppercase;
    font-family: Lato;
}
#map {
    opacity: 0.0;
    position: fixed;
    z-index: 1;
}
.counties {
  fill: none;
}
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.stateName {
    position: fixed;
    display: none;
    text-transform: uppercase;
    font-family: Lato;
    color: #050505;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: 0 0 4px #FFF;
    z-index: 2;
    opacity: 0.0;
}
.noselect {
    pointer-events: none;
}
.wallpaper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#legend {
    width: 26px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background: #222;
    padding: 4px;
    border-left: 1px solid #EEE;
    opacity: 0.0;
    text-align: right;
}
#legend.show {
    width: 20%;
}
#legend .title {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 2px;
}
#legend .small {
    font-size: 12px;
    line-height: 26px;
    vertical-align: middle;
    padding-right: 6px;
}
#legend .text {
    text-transform: uppercase;
    font-family: Lato;
    display: none;
    color: #EEE;
}
#legend .color {
    width: 26px;
    height: 26px;
    border: 1px solid #EEE;
    border-radius: 2px;
    margin-bottom: 4px;
    display: inline-block;
    vertical-align: middle;
}
