body {
    background: #222;
}
.loading {
    margin-top: 25%;
    font-size: 70px;
    color: #EEE;
    text-transform: uppercase;
    font-family: Lato;
}
#map {
    position: fixed;
    z-index: 1;
}
.counties {
  fill: none;
}
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.contryName {
    position: fixed;
    display: none;
    text-transform: uppercase;
    font-family: Lato;
    color: #050505;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: 0 0 4px #FFF;
    z-index: 2;
}
.noselect {
    pointer-events: none;
}
.wallpaper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
